<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mdq.marinetechapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MarineTechApp">
        <activity
            android:name="com.mdq.activities.setting_exp"
            android:exported="true">


        </activity>
        <activity
            android:name="com.mdq.activities.EmergencyNumberActivity"
            android:exported="false" />
        <activity
            android:name="com.mdq.activities.LockerPinChange"
            android:exported="false" />
        <activity
            android:name="com.mdq.activities.Mechanical_key"
            android:exported="false" />
        <activity
            android:name="com.mdq.activities.SOS_pin_change"
            android:exported="false" />
        <activity
            android:name="com.mdq.activities.security"
            android:exported="false" />
        <activity
            android:name="com.mdq.activities.Wifi_configuration"
            android:exported="false" />
        <activity
            android:name="com.mdq.activities.our_products"
            android:exported="false" />
        <activity
            android:name="com.mdq.activities.Contact_us"
            android:exported="false" />
        <activity
            android:name="com.mdq.activities.Warrenty_activity"
            android:exported="false" />
        <activity
            android:name="com.mdq.activities.profileActivity"
            android:exported="false" />
        <activity
            android:name="com.mdq.activities.fingerprintenable"
            android:exported="false" />
        <activity
            android:name="com.mdq.activities.DeviceManger_activity"
            android:exported="false" />
        <activity
            android:name="com.mdq.activities.MechanicalActivity"
            android:exported="false" />
        <activity
            android:name="com.mdq.activities.MobileRegistration"
            android:exported="true" />
        <activity
            android:name="com.mdq.activities.activity_fingerprint_authentication"
            android:exported="false" />
        <activity
            android:name="com.mdq.activities.activity_profile_setup"
            android:exported="true" />
        <activity
            android:name="com.mdq.activities.Notificationactivity"
            android:exported="true" />
        <activity
            android:name="com.mdq.activities.History"
            android:exported="true" />
        <activity
            android:name="com.mdq.activities.safetySelectionActivity"
            android:exported="true" />
        <activity
            android:name="com.mdq.activities.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".activities.QrCodeScannerActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.LoginActivityMarine"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.BleActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mdq.activities.Term_Condition"
            android:exported="true" />
        <activity
            android:name="com.mdq.activities.WelcomeActivity"
            android:exported="true" />
        <activity
            android:name="com.mdq.activities.OTPVerification"
            android:exported="true" />
        <activity
            android:name="com.mdq.activities.MobileNumActivity"
            android:exported="true" />
        <activity
            android:name="com.mdq.activities.RegisterActivity"
            android:exported="true" />
        <activity
            android:name="com.mdq.activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.mdq.activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>